<%=link_to("Home", pages_home_path, :class => 'home-link') %>
<br>
<div class="delete book">
  <h1>Delete Book</h1>

  <%= form_for @book, :url => pages_destroy_path(@book), :method => :delete do |f| %>
    <p> Are you sure you want to delete this book?</p>
    <p class="reference-name"><%= f.object.Title %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Book") %>
    </div>
  <% end %>  
</div>